.institution-list {
    background-color: white;
    padding: 7vw 7vw;
}

.institution-list-header {
    background-color: var(--themeColor);
    color: white;
    padding: 1rem;
}

.institution-list-body {
    padding: 1rem;
    display: flex;
}

.institution-list-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.institution-list-img {
    display: flex;
    justify-content: center;
    width: 50%;
}

.institution-list-body img {
    width: 550px;
    height: 350px;
}

@media screen and (min-width:1600px) {
    .institution-list-header h2 {
        font-size: 3.8vw;
    }

    .institution-list-body p {
        font-size: 1.3vw;
    }

    .institution-list-body h4 {
        font-size: 2vw;
    }
}

@media screen and (max-width: 700px) {
    .institution-list-body {
        flex-direction: column;
    }

    .institution-list-content {
        max-width: 100%;
    }    
}