.inst-search-header {
    background-color: white;
    padding: 7vw;
    display: flex;
    justify-content: space-between;
}

.box-container {
    border: 4px solid #008647;
    padding: 0px 10px;
    border-radius: 50px;
}

.elements-container {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
}

.search:focus {
    outline: none;
}

@media screen and (min-width:1600px) {

    .search-h2 h2 {
        font-size: 3.8vw;
    } 

    .search {
        font-size: 1.3vw;
    }
    
}

@media screen and (max-width:700px) {
    .inst-search-header {
        flex-direction: column;
    }
}





/* .inst-search-header {
    padding: 7vw;
    display: flex;
    justify-content: space-between;
}

.inst-box-container {
    border: 2px solid var(--themeColor);
    border-radius: 50px;
    padding: 0px 10px;
    max-width: 50%;
}

.inst-elements-container {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.inst-search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 1.3vw;
}

.inst-search:focus {
    outline: none;
}

.inst-search-h2 {
    max-width: 50%;
}

.inst-search-h2 h2 {
    font-size: 3.8vw;
}

@media screen and (max-width:900) {
    .inst-search-h2 h2 {
        font-size: 4.2vw;
    }

    .inst-search {
        font-size: 1.9vw;
    }
}


@media screen and (max-width:500) {
    .inst-search-h2 h2 {
        font-size: 5vw;
    }

    .inst-search {
        font-size: 2.5vw;
    }

} */


 